@import "scss/base";

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  font-weight: 500;

  .left, .right {
    display: flex;
    align-items: center;

    a {
      padding: 15px 30px;
      background: white;
      text-decoration: none;

      &:hover {
        color: red;
        transition: .3s;
      }
    }
  }

  .right {

    .cash {
      padding-right: 15px;
    }
  }
}

main {
  //width: 80%;
  height: auto;
  margin: 70px auto;
}

table {
  width: 80%;
  text-align: center;
  margin: auto;
  background: #fff;

  th {
    font-weight: bold;
  }

  th, tbody, td {
    border: 2px solid #141414;
    padding: 15px 30px;
  }

  input {
    width: 100%;
    color: #333;
  }
}

#number {
  border: transparent;
  padding: 15px 0;
  text-align: center;
}